* {margin: 0; padding: 0;}

body {
    background: url(https://cutewallpaper.org/21/tumblr-pixel-background/Kawaii-Pixel-Background-Tumblr-Pastel-Pizza-Backgrounds-GIF-.gif);
  
  }
  .piano-man {
    position: absolute;
    width: 300px;
    margin-left: 100px;
  }
  .open {
      position: absolute;
      width: 900px;
      height: 300px;
      top: 500px;
      margin-left: 100px;
  }
  header {
    background-image: url(https://cdn131.picsart.com/310871678026211.png);
    background-repeat: repeat-x;
    height: 60px;
    background-size: 5% 100%;
  }

  h1 {
    color: yellow;
    padding: 50px;
    text-align: center;
    font-size: 150px;
    font-family: 'Concert One';
  }
  .pink {
      color: pink;
  }
  .black {
      color: black;
  }
  h2 {
    color: yellow;
    padding: 10px;
    margin: auto;
    font-size: 60px;
    font-family: 'Concert One';
    text-align: center;
    width: 700px;
    height: 200px;
    background: white;
    border-radius: 50px;
  }
  p {
      background: white;
      position: absolute;
      padding: 10px;
      top: 450px;
      left: 700px;
      color: red;
      margin-right: 100px;
      
  }
  p2 {
      color: yellow;
      font-family: 'Concert One';
      line-height: 40px;
      width: 100px;
      

  }
  .shrunk {
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin-right: 0;
    margin-left: 75%;
   
  }
  .dragon {
    position: absolute;
    top: 1000px;
    right: 100px;
  }
  footer {
    background-image: url(https://cdn131.picsart.com/310871678026211.png);
    background-repeat: repeat-x;
    height: 60px;
    background-size: 5% 100%;
    margin-top: 50px;
    
    
}
 

 