* {margin: 0; padding: 0;}

body {
    background: url(https://cutewallpaper.org/21/tumblr-pixel-background/Kawaii-Pixel-Background-Tumblr-Pastel-Pizza-Backgrounds-GIF-.gif);
    height: 3072px;
    width: 1920px;
  
  }
  .piano-man {
    position: absolute;
    width: 300px;
    margin-left: 100px;
  }
  .open {
      position: absolute;
      width: 900px;
      height: 300px;
      top: 500px;
      margin-left: 100px;
  }
  header {
    color: yellow;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Concert One';
  }
  .pink {
      color: pink;
  }
  .black {
      color: black;
  }
  h2 {
    position: absolute;
    left: 500px;
    bottom: 450px;
    color: yellow;
    font-size: 60px;
    font-family: 'Concert One';
    
  }
  p {
      background: white;
      position: absolute;
      padding: 10px;
      top: 450px;
      left: 700px;
      color: red;
      margin-right: 100px;
      
  }
  p2 {
      position: absolute;
      color: yellow;
      font-family: 'Concert One';
      line-height: 40px;
      width: 500px;
      left: 200px;
      top: 700px;
      

  }
  .shrunk {
    position: fixed;
    bottom: 0;
    left: 1050px;
    z-index: 2;
    margin-right: 100px;
  }

  .round {
      transform: scale(2);
    position: absolute;
    top: 1200px;
    left: 400px;

  }

  .dragon {
    position: absolute;
    top: 1000px;
    right: 100px;
  }

 

 
