* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 50px;
}

html {
    font-family: Arial;
    
}

p::first-letter {
    color: blue;
    font-size: 200%;
  }


  h1::before {
    content: url("images/chihuahua.gif");
  }   

  h1::after {
    content: url("images/chihuahua.gif");
  }   