* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: Arial;
}

header {
    padding: 10vmin;
    background: #0008;
    margin-bottom: 2vmin;
    text-align: center;

}

header h1{
    font-size: 10vmin;

}

.wrapper {
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    /* auto left and right margins */
    margin: 0 auto;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery__item{
    margin: 2vmin;
}