body {
    background-color: cornflowerblue;
}

div {
    height: 400px;
    width: 60px;
    background: cyan;
    margin: 50px auto;
    border-radius: 10px;
    position: relative;
  }

  #rect {
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }

  @keyframes move {
    0% {
      background-color:  cornflowerblue;
      top: 0px;

    }
    50% {
      background-color: coral;
      top: 100px;
      width: 200px;

    }
    100% {
      background-color: yellow;
      top: 100px;
      width: 1000px;
      border-radius: 300px;

    }
  }